[submodule "src/core"]
	path = src/core
	url = https://github.com/hwanhonglee/Autonomous-Driving/tree/h2_i/IONIQ_PHEV/230608_v1.0/core
[submodule "src/launcher"]
	path = src/launcher
	url = https://github.com/hwanhonglee/Autonomous-Driving/tree/h2_i/IONIQ_PHEV/230608_v1.0/launcher/autoware_launch
[submodule "src/sensor_kit"]
	path = src/sensor_kit
	url = https://github.com/hwanhonglee/Autonomous-Driving/tree/h2_i/IONIQ_PHEV/230608_v1.0/sensor_kit
[submodule "src/universe"]
	path = src/universe
	url = https://github.com/hwanhonglee/Autonomous-Driving/tree/h2_i/IONIQ_PHEV/230608_v1.0/universe
[submodule "src/vehicle"]
	path = src/vehicle
	url = https://github.com/hwanhonglee/Autonomous-Driving/tree/h2_i/IONIQ_PHEV/230608_v1.0/vehicle
