[submodule "src/core"]
	path = src/core
	url = https://github.com/hwanhonglee/Autonomous-Driving.git
[submodule "src/launcher"]
	path = src/launcher
	url = https://github.com/hwanhonglee/Autonomous-Driving.git
[submodule "src/sensor_kit"]
	path = src/sensor_kit
	url = https://github.com/hwanhonglee/Autonomous-Driving.git
[submodule "src/universe"]
	path = src/universe
	url = https://github.com/hwanhonglee/Autonomous-Driving.git
[submodule "src/vehicle"]
	path = src/vehicle
	url = https://github.com/hwanhonglee/Autonomous-Driving.git
