# Vim
*.swp
*.swo

# Visual Studio Code
.vscode/
*.code-workspace

# colcon
build/
install/
log/

# Python
*.pyc
__pycache__/
.pytest_cache/
.venv/
.venv-map/

# Accidental in-source CMake output
CMakeFiles/

# Local E2E artifacts
data/
artifacts/

# Jetbrains
.idea/

# rviz Screen Capture
capture/

# CodeChecker
.codechecker/

# Node.js
node_modules/
